<div class="modal fade" id="modalEditarDoador" tabindex="-1" role="dialog" aria-labelledby="modalEditarDoadorLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarDoadorLabel">Editar Doador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formEditarDoador">
                    <input type="hidden" id="editId">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editNome">Nome*</label>
                                <input type="text" class="form-control" id="editNome" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="editCpf">CPF*</label>
                                <input type="text" class="form-control" id="editCpf" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="editRg">RG</label>
                                <input type="text" class="form-control" id="editRg">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="editDataNasc">Data de Nascimento*</label>
                                <input type="date" class="form-control" id="editDataNasc" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="editSexo">Sexo*</label>
                                <select class="form-control" id="editSexo" required>
                                    <option value="M">Masculino</option>
                                    <option value="F">Feminino</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="editTipoSanguineo">Tipo Sanguíneo*</label>
                                <select class="form-control" id="editTipoSanguineo" required>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editMae">Nome da Mãe</label>
                                <input type="text" class="form-control" id="editMae">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editPai">Nome do Pai</label>
                                <input type="text" class="form-control" id="editPai">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editEmail">Email</label>
                                <input type="email" class="form-control" id="editEmail">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="editTelefoneFixo">Telefone Fixo</label>
                                <input type="text" class="form-control" id="editTelefoneFixo">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="editCelular">Celular</label>
                                <input type="text" class="form-control" id="editCelular">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="editCep">CEP</label>
                                <input type="text" class="form-control" id="editCep">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="editEndereco">Endereço</label>
                                <input type="text" class="form-control" id="editEndereco">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="editNumero">Número</label>
                                <input type="number" class="form-control" id="editNumero">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="editBairro">Bairro</label>
                                <input type="text" class="form-control" id="editBairro">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="editCidade">Cidade</label>
                                <input type="text" class="form-control" id="editCidade">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="editEstado">Estado</label>
                                <select class="form-control" id="editEstado">
                                    <option value="">Selecione</option>
                                    <option value="AC">AC</option>
                                    <option value="AL">AL</option>
                                    <option value="AP">AP</option>
                                    <option value="AM">AM</option>
                                    <option value="BA">BA</option>
                                    <option value="CE">CE</option>
                                    <option value="DF">DF</option>
                                    <option value="ES">ES</option>
                                    <option value="GO">GO</option>
                                    <option value="MA">MA</option>
                                    <option value="MT">MT</option>
                                    <option value="MS">MS</option>
                                    <option value="MG">MG</option>
                                    <option value="PA">PA</option>
                                    <option value="PB">PB</option>
                                    <option value="PR">PR</option>
                                    <option value="PE">PE</option>
                                    <option value="PI">PI</option>
                                    <option value="RJ">RJ</option>
                                    <option value="RN">RN</option>
                                    <option value="RS">RS</option>
                                    <option value="RO">RO</option>
                                    <option value="RR">RR</option>
                                    <option value="SC">SC</option>
                                    <option value="SP">SP</option>
                                    <option value="SE">SE</option>
                                    <option value="TO">TO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="editAltura">Altura (m)</label>
                                <input type="number" step="0.01" class="form-control" id="editAltura">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="editPeso">Peso (kg)</label>
                                <input type="number" step="0.1" class="form-control" id="editPeso">
                            </div>
                        </div>
                    </div>

                    <div class="text-muted">* Campos obrigatórios</div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnSalvarEdicao">Salvar</button>
            </div>
        </div>
    </div>
</div>